/* Estilos para VBox */
.vbox {
    -fx-padding: 10;
}

/* Estilos para botones */
.button {
    -fx-background-color: #C85C5C;
    -fx-text-fill: white;
}

/* Estilos para etiquetas */
.label {
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Estilos para WebView */
.web-view {
    -fx-border-color: #ddd;
}

/* Estilos para ChoiceBox */
.choice-box {
    -fx-font-size: 14px;
}

/* Estilos para DatePicker */
.date-picker {
    -fx-font-size: 14px;
}

/* Estilos para alertas */
.dialog-pane {
    -fx-font-size: 14px;
}